@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 0;
  font-family: 'SourceHanSansCN-Medium', "微软雅黑";
  vertical-align: middle; }

:focus {
  outline: 0; }

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none; }

table {
  border-collapse: separate;
  border-spacing: 0; }

th,
td {
  text-align: left;
  font-weight: normal; }

img,
iframe {
  border: none;
  text-decoration: none; }

ol,
ul {
  list-style: none; }

input,
textarea,
select,
button {
  font-size: 100%;
  font-family: 'SourceHanSansCN-Medium', "微软雅黑"; }

select {
  margin: inherit; }

hr {
  margin: 0;
  padding: 0;
  border: 0;
  color: #000;
  background-color: #000;
  height: 1px; }

img {
  width: 100%; }

.clearfix {
  *zoom: 1; }

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after {
  clear: both; }

.bg {
  background: #f9fafb; }

.header {
  position: relative;
  padding: 0.28rem 0;
  background: #fff;
  -webkit-box-shadow: 0 0 0.3rem 0 rgba(178, 190, 203, 0.15);
          box-shadow: 0 0 0.3rem 0 rgba(178, 190, 203, 0.15);
  text-align: center; }
  .header .left {
    position: absolute;
    top: 0.34rem;
    left: 0.4rem; }
    .header .left a {
      display: inline-block; }
      .header .left a img {
        width: 0.17rem;
        height: 0.32rem; }
  .header .center {
    display: inline-block; }
    .header .center p {
      font-size: 0.34rem;
      color: #51566f; }
  .header .right {
    position: absolute;
    top: 0.28rem;
    right: 0.35rem; }
    .header .right a {
      display: inline-block; }
      .header .right a img {
        width: 0.38rem;
        height: 0.44rem; }

.feedbackCenter .container {
  padding-bottom: 0.98rem; }
  .feedbackCenter .container .title {
    position: relative;
    padding: 0.35rem 0 0 0.3rem; }
    .feedbackCenter .container .title .title-p {
      display: inline-block;
      font-size: 0.24rem;
      color: #7a8896; }
      .feedbackCenter .container .title .title-p span {
        display: inline-block;
        margin-left: 0.1rem;
        font-size: 0.24rem;
        color: #ffb33b; }
    .feedbackCenter .container .title .number {
      position: absolute;
      top: 0.35rem;
      right: 0;
      font-size: 0.24rem;
      color: #7a8896; }
      .feedbackCenter .container .title .number span {
        display: inline-block;
        font-size: 0.24rem;
        color: #7a8896; }
  .feedbackCenter .container .contain-selection {
    margin-bottom: 0.15rem;
    background: #fff; }
    .feedbackCenter .container .contain-selection .content {
      padding: 0.2rem 0; }
      .feedbackCenter .container .contain-selection .content .radio {
        margin-bottom: 0.1rem;
        display: inline-block;
        width: 33.3%; }
        .feedbackCenter .container .contain-selection .content .radio label {
          margin-left: 12%;
          position: relative;
          display: block;
          width: 88%; }
          .feedbackCenter .container .contain-selection .content .radio label input[type="radio"] {
            position: relative;
            top: 0.1rem;
            margin: 0;
            display: inline-block;
            width: 0.3rem;
            height: 0.3rem;
            opacity: 0; }
          .feedbackCenter .container .contain-selection .content .radio label input[type="radio"]:checked + div {
            background: url("../img/icon-radio1.png") no-repeat;
            background-size: cover; }
          .feedbackCenter .container .contain-selection .content .radio label .option {
            position: absolute;
            top: 0.1rem;
            left: 0;
            background-size: cover;
            background: url("../img/icon-radio2.png") no-repeat;
            background-size: 100% 100%;
            width: 0.3rem;
            height: 0.3rem; }
          .feedbackCenter .container .contain-selection .content .radio label .opt-text {
            position: relative;
            top: -0.05rem;
            left: 0.1rem;
            font-size: 0.24rem;
            color: #51566f; }
  .feedbackCenter .container .contain-fill {
    padding: 0.3rem;
    background: #fff; }
    .feedbackCenter .container .contain-fill .title {
      padding-left: 0; }
    .feedbackCenter .container .contain-fill textarea {
      margin: 3%;
      padding: 0;
      width: 94%;
      height: 2rem;
      border: none;
      font-size: 0.24rem;
      color: #51566f; }
    .feedbackCenter .container .contain-fill .upload {
      padding: 0.2rem 0 0.1rem; }
      .feedbackCenter .container .contain-fill .upload .uploaded {
        margin-right: 0.2rem;
        position: relative;
        display: inline-block;
        width: 1.2rem;
        height: 1.2rem; }
        .feedbackCenter .container .contain-fill .upload .uploaded .pic1 {
          width: 1.2rem;
          height: 1.2rem; }
        .feedbackCenter .container .contain-fill .upload .uploaded .delete {
          position: absolute;
          top: 0rem;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
          display: inline-block; }
          .feedbackCenter .container .contain-fill .upload .uploaded .delete img {
            width: 0.32rem;
            height: 0.32rem; }
      .feedbackCenter .container .contain-fill .upload .toUpload {
        display: inline-block;
        background: #fbfbfb;
        width: 1.2rem;
        height: 1.2rem;
        text-align: center; }
        .feedbackCenter .container .contain-fill .upload .toUpload img {
          margin: 0.35rem auto 0.08rem auto;
          display: block;
          width: 0.4rem;
          height: 0.35rem; }
        .feedbackCenter .container .contain-fill .upload .toUpload .amount {
          display: inline-block;
          font-size: 0.18rem;
          color: #b1bdca; }

.feedbackCenter .footer {
  position: fixed;
  bottom: 0;
  padding: 0.13rem 0;
  background: #fff;
  width: 100%;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(178, 190, 203, 0.3);
          box-shadow: 0px 0px 30px 0px rgba(178, 190, 203, 0.3); }
  .feedbackCenter .footer .submit {
    margin: 0 auto;
    display: block;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#46a0ff), to(#2584e9));
    background-image: linear-gradient(0deg, #46a0ff 0%, #2584e9 100%);
    width: 5.4rem;
    height: 0.72rem;
    border: none;
    border-radius: 0.36rem;
    font-size: 0.24rem;
    color: #fff;
    text-align: center;
    line-height: 0.72rem; }

.feedbackList .container .contain-opinion {
  margin-top: 0.16rem;
  background: #fff; }
  .feedbackList .container .contain-opinion .top {
    position: relative;
    margin: 0 0.3rem 0 0.25rem;
    padding: 0.1rem 0;
    border-bottom: 1px solid #f4f6f8; }
    .feedbackList .container .contain-opinion .top .title {
      display: inline-block;
      position: relative; }
      .feedbackList .container .contain-opinion .top .title i {
        position: absolute;
        top: 0;
        left: 0.4rem;
        display: inline-block; }
        .feedbackList .container .contain-opinion .top .title i img {
          width: 0.12rem;
          height: 0.12rem; }
      .feedbackList .container .contain-opinion .top .title .logo {
        margin-right: 0.2rem;
        width: 0.5rem;
        height: 0.5rem; }
      .feedbackList .container .contain-opinion .top .title p {
        display: inline-block;
        font-size: 0.24rem;
        color: #7a8896; }
    .feedbackList .container .contain-opinion .top .date {
      position: absolute;
      top: 0.2rem;
      right: 0;
      display: inline-block;
      font-size: 0.2rem;
      color: #9babbb; }
  .feedbackList .container .contain-opinion .middle {
    padding: 0.25rem 0.4rem 0.25rem 0.3rem;
    border-bottom: 1px solid #f4f6f8; }
    .feedbackList .container .contain-opinion .middle .title {
      font-size: 0.24rem;
      color: #51566f; }
    .feedbackList .container .contain-opinion .middle .details {
      margin: 0.2rem 0 0.15rem; }
      .feedbackList .container .contain-opinion .middle .details span {
        display: inline-block;
        font-size: 0.2rem;
        color: #9babbb;
        vertical-align: top; }
      .feedbackList .container .contain-opinion .middle .details p {
        display: inline-block;
        width: 5.8rem;
        font-size: 0.2rem;
        color: #51566f;
        line-height: 0.32rem; }
    .feedbackList .container .contain-opinion .middle .picture {
      margin-left: 0.9rem; }
      .feedbackList .container .contain-opinion .middle .picture img {
        margin-left: 0.12rem;
        display: inline-block;
        width: 0.7rem;
        height: 0.7rem; }
  .feedbackList .container .contain-opinion .bottom {
    padding: 0.12rem 0.12rem 0.12rem 0; }
    .feedbackList .container .contain-opinion .bottom .more-btn {
      float: right;
      display: block;
      background: #fff;
      width: 1.3rem;
      height: 0.48rem;
      border: 1px solid #5fa5ef;
      border-radius: 0.24rem;
      font-size: 0.2rem;
      color: #2584e9;
      text-align: center;
      line-height: 0.48rem; }

.feedbackDetails .container .contain-submit {
  margin-top: 0.25rem;
  padding: 0.3rem;
  background: #fff; }
  .feedbackDetails .container .contain-submit .title {
    margin-bottom: 0.3rem;
    position: relative; }
    .feedbackDetails .container .contain-submit .title .title-p {
      display: inline-block;
      font-size: 0.24rem;
      color: #7a8896; }
    .feedbackDetails .container .contain-submit .title .date {
      display: inline-block;
      position: absolute;
      right: 0;
      font-size: 0.24rem;
      color: #b1bdca; }
  .feedbackDetails .container .contain-submit .content-p {
    margin-bottom: 0.3rem;
    font-size: 0.24rem;
    color: #51566f;
    line-height: 0.4rem; }
  .feedbackDetails .container .contain-submit .content-img img {
    margin-right: 0.18rem;
    display: inline-block;
    width: 1.57rem;
    height: 1.57rem; }
  .feedbackDetails .container .contain-submit .content-img img:last-child {
    margin-right: 0; }

.feedbackDetails .container .contain-reply {
  margin-top: 0.15rem;
  padding: 0.3rem;
  background: #fff; }
  .feedbackDetails .container .contain-reply .title {
    position: relative; }
    .feedbackDetails .container .contain-reply .title .title-p {
      display: inline-block;
      font-size: 0.24rem;
      color: #3ec4b6; }
      .feedbackDetails .container .contain-reply .title .title-p img {
        margin-right: 0.15rem;
        width: 0.39rem;
        height: 0.35rem; }
    .feedbackDetails .container .contain-reply .title .date {
      position: absolute;
      right: 0;
      display: inline-block;
      font-size: 0.24rem;
      color: #b1bdca; }
  .feedbackDetails .container .contain-reply .reply-p {
    margin-top: 0.25rem;
    font-size: 0.24rem;
    color: #51566f;
    line-height: 0.4rem; }

.pop-a {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  -webkit-box-shadow: 0 0 0.3rem 0 rgba(178, 190, 203, 0.15);
          box-shadow: 0 0 0.3rem 0 rgba(178, 190, 203, 0.15);
  height: 0.58rem;
  border-radius: 0.29rem;
  line-height: 0.58rem; }
  .pop-a .pop-div {
    padding: 0 0.2rem;
    text-align: center; }
    .pop-a .pop-div img {
      margin-right: 0.15rem;
      width: 0.3rem;
      height: 0.3rem; }
    .pop-a .pop-div p {
      display: inline-block;
      font-size: 0.24rem; }
    .pop-a .pop-div .success-p {
      color: #5ccc20; }
    .pop-a .pop-div .fail-p {
      color: #7a8896; }
  .pop-a .pop1 {
    width: 3.5rem; }
  .pop-a .pop2 {
    width: 3rem; }
  .pop-a .pop3 {
    width: 4rem; }
