@import 'fonts';
@import 'variables';
@import 'normalize';
/*
.header .center p{
  color: red;
}*/
.release_up_pic .up_pic {
  background-color: #fff;
  padding: 15px 12px;
  font-size: 0;
  margin-left: -3.33333%;
  padding-bottom: 3px;
  border-bottom: 1px solid #e7e7e7;
}
#chose_pic_btn {
  position: relative;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
/*  background-image: url(../../img/upload-add.png);*/
  box-sizing: border-box;
/*  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;*/
}
#chose_pic_btn input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.release_up_pic .up_pic .pic_look {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  background-size: cover;
  width: 1.2rem;
  height: 1.2rem;
  background-position: center center;
  background-repeat: no-repeat;
  margin: .1rem;
  border: 1px solid $line;
}
.release_up_pic .up_pic .pic_look em {
  position: absolute;
  display: inline-block;
  width: 0.32rem;
  height: 0.32rem;
  background-color: red;
  color: #fff;
  font-size: .18rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 50%;
  font-weight: 700;
}
.upload-title{
  font-size: .14rem;
  color:#7a8896;
}
#chose_pic_btn {
  text-align:center;
  img {
    margin: 0.35rem auto 0.08rem auto;
    display: block;
    width: 0.4rem;
    height: 0.35rem;
  }
  .amount, .amount-per {
    display: inline-block;
    font-size: 0.18rem;
    color: #b1bdca;
  }
}
.feedbackCenter .container{
  padding:0;
}
