@import 'variables';
@import 'normalize';

/*@import 'ydui.css';*/
@import '../../css/swiper.min.css';  //ww
@import 'swiper.scss';//swiper
@import 'btn.css';
@import 'mmapp.css';

$line:#ececec;
$blue:#139fef;
$text6:#666666;
$text3:#333333;
$blue-text:#003333;
$bgc:#cccccc;
$fontWeight:550;
$orange:#ff6c00;
$line-blue:#f4f9ff;
@function rem($args) {//iphone 678
  $remSize: $args / 34.7222;
  @return $remSize * 1rem;
}
ol, ul {
  list-style: none;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
  100% {
    opacity: 1;
  }
}
.flex-box{
  display: flex;
  align-items: center;
}
.flex-box-bet{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
.flex-center{
  align-items:center;
}
.flex-item{
  flex: 1;
}
.swiper-slide{
  text-align: inherit;
}
.yjxz-btn{
  color:$blue;
}
.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
